<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="correct col-centered"><h2>{{correct}}</h2></div>
  <div class="percentage col-centered"><h3>{{amount}} out of {{max}} right. {{percent}}%</h3></div>
  <div class="albumpic col-centered"><img src="{{songUrl}}" alt="artist pic" class="img-responsive"></div>
  <div class="singername col-centered"><h3>{{song}}<br>{{artist}}</h3></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="next col-centered">
        <i class="glyphicon glyphicon-chevron-right next-button hide" aria-hidden="true"></i>
    </div>
    <div class="new-game col-centered">
        <button type="button" class="btn btn-default btn-primary hide newGame">New Game</button>
    </div>
</div>
