<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered quiz-border">
    <form action="" id="answerForm">
        <div class="row">
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <h2>Who is the the singer and name of the song behind the following lyrics?</h2>
          </div>
          <div class="stats">
            <ul>
              <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
              <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
            </ul>

          </div>
          <div class="lyricsDiv col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <h3>
                {{lyrics}}
            </h3>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-centered">
              <input id="vol-control" type="range" min="0" max="100" class="pull-right"
              step="1" oninput="setVolume(this.value)" onchange="setVolume(this.value)"></input>
              <span class="pull-left glyphicon glyphicon-play-circle playbutton">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-centered artists" data-toggle="buttons">
                <label class="btn btn-primary btn-lg" id="radio1">
                    <input type="radio" name="options" autocomplete="off" value="1"><h4>{{song1}}<br>{{artist1}}</h4>
                </label>
                <label class="btn btn-primary btn-lg" id="radio2">
                    <input type="radio" name="options" autocomplete="off" value="2"><h4>{{song2}}<br>{{artist2}}</h4>
                </label>
                <label class="btn btn-primary btn-lg" id="radio3">
                    <input type="radio" name="options" autocomplete="off" value="3"><h4>{{song3}}<br>{{artist3}}</h4>
                </label>
                <label class="btn btn-primary btn-lg" id="radio4">
                    <input type="radio" name="options" autocomplete="off" value="4"><h4>{{song4}}<br>{{artist4}}</h4>
                </label>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-centered artist-submit">
                <input type="submit" name="submit" class="btn btn-default btn-primary btn-lg" value="Submit">
            </div>
        </div>
    </form>
</div>
